@font-face {
    font-family: 'crackregular';
    src: url('crack-webfont.woff2') format('woff2'),
         url('crack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    background-image: url("297352-296664-682747-sanju-poster11.jpg");
}

h1 {
    font-family: 'crackregular';
    font-size: 10rem;
    text-align: center;
    color: darkblue;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: auto;
}

.headerfont {
    text-align: center;
    font-weight: bold;
    font-family: 'Verdana';
    margin: 0;
}
    
